@font-face {
    font-family: figtree;
    src: url(./assets/assets/fonts/Figtree-VariableFont_wght.ttf);
}

body{
    margin: 0;
    padding: 0; 
    font-family: figtree;   
}
.container{
    height: 100vh;
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    background-color: white;
    padding: 19px;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 9px 9px 0px black;
}
.sb{
    border-radius: 10px;
    width: 100%;
}
.pad{
    background-color: hsl(47, 88%, 63%);
    display: inline-flex;
    padding: 5px 10px;
    font-weight: 800;
}
.sa{
    margin-top: 0;
    font-weight: 500;
}
.pix{
    font-weight: 800;
    font-size: 30px;
}
.fd{
    font-size: 20px;
    color: hsl(0, 0%, 50%);
}
.joy{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.jay{
    margin-left: 20px;
    font-weight: 900;
}